@media (max-width: 500px){
  header{
    flex-direction: column;
  }
  header ul {
    flex-direction: column;
    text-align: center;
  }
  header li {
    padding: 0.5rem;
    margin-top: 1rem;
    border-bottom: dotted 1px #ddd;
  }

  .vp{
    padding: 0 1.8rem;
  }

  .vp h1 {
    font-size: 1.8rem;
  }
  
  .vp p {
    font-size: 1.4rem;
  }

  .team {
    flex-flow: column-reverse wrap;
    height: auto;
  }

  .team-img {
    min-height: 20rem;
  }

  .opinion {
    flex: 1;
    display: flex;
    flex-flow: column-reverse wrap;
  }

  .opinion .comm {
    padding: 3rem;
  }

  .person{
    align-items: center;
    display: flex;
    flex-flow: column wrap;
  }
}