/*&---------reset---------*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*&----general-----*/

body {
  font-family: "Montserrat", sans-serif;
  /*font-family: "Long Cang", cursive;*/
  background: #ddd;
}

h1,
h2,
h3,
h4 {
  margin-bottom: 1rem;
}

a {
  color: #fff;
  text-decoration: none;
}

ul{
  list-style: none;
}

/*&-------vp + Header---------*/

.vp-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  padding: 1rem 2rem;
  background: #333;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  line-height: 1.8rem;
}

.vp-logo a {
  font-size: 4rem;
  font-weight: 300;
}

.vp-logo {
  font-size: 2.4rem;
  margin-bottom: 0;
  font-family: "Long Cang", cursive;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.vp-logo i {
  color: #f9ca24;
  margin-bottom: 1.8rem;
}

header ul {
  display: flex;
  flex-flow: row nowrap;
  list-style: none;
}

header ul li {
  padding: 1rem;
}

header ul li a:hover {
  color: #f9ca24;
}

/*-------------------*/

span {
  color: #f9ca24;
  font-weight: 300;
}

.vp {
  height: 100vh;
  flex: auto;
  background: url('../images/frame.jpg') center center / cover;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

.vp h1 {
  padding-top: 1rem;
  max-width: 800px;
  font-size: 3.2rem;
  margin-bottom: 2rem;
  color: white;
}

.vp p {
  max-width: 900px;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 2rem;
  letter-spacing: 1px;
  color: white;
}

/*&--------Offres----------*/

.offres {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 10rem 1rem;
}
.offres h2 {
  font-size: 1.8rem;
  font-weight: 300;
}
.offres-list {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  
}
.offer {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 350px;
  border: 1px solid #ddd;
  background: white;
  margin: 1rem;
  flex: 1;
}
.offer img {
  width: 100%;
}

.offer-desc {
  margin: 20px;
  flex-direction: column;
  display: flex;
  align-items: center;
}

.offer-text {
  margin: 0.5rem 0;
}

.separator {
  border: solid 1px black;
  width: 50px;
}

/*&--------Team----------*/

.team {
  display: flex;
  flex-flow: row nowrap;
  min-height: 600px;
}

.team-img {
  flex: 1;
  background: url(../images/team.jpg) center center / cover;
}

.team-desc {
  background: #333;
  color: #fff;
  flex: 1;
  padding: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.team-desc h1 {
  margin-bottom: 2rem;
}

.team-desc p {
  font-size: 1.3rem;
  line-height: 1.8rem;
}

/*&--------------opinion------------*/

.opinions {
  padding: 5rem 1rem;
  margin: auto;
  max-width: 1200px;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}

.opinions h1 {
  margin-bottom: 3rem;
  font-weight: 300;
  font-size: 2rem;
}

.opinion-list {
  display: flex;
  flex-direction: column;
}

.opinion {
  flex: 1;
  background: white;
  border-radius: 5px;
  padding: 2rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.opinion .comm {
  padding: 0px 3rem;
}

.person img {
  width: 50px;
  border-radius: 50px;
}

.person p {
  margin: 0.5rem 0rem;
  font-weight: 500;
}

/*&----------------contact--------------*/

.contact {
  padding: 10rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #333;
  color: white;
}

.contact-elems {
  max-width: 600px;
  width: 100%;
  background: #333;
  color: #fff;
  padding: 5rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-elems h2 {
  font-size: 2rem;
}

.contact-elems input {
  font-size: 1.4rem;
  background: #333;
  color: white;
  padding: 20px;
  border: none;
  border-bottom: 1px solid #686868;
  outline: 0;
}

.contact-elems button {
  margin: 3rem auto;
  background: #f9ca24;
  color: white;
  padding: 1rem 2rem;
  border-radius: 50rem;
  border: 0;
  display: block;
  font-weight: 700;
  cursor: pointer;
  font-size: 1.3rem;
}

button:hover {
  background: red;
}

/*&----------footer-------------*/

footer{
  text-align: center;
  color: white;
  background: #686868;
  padding: 3rem;

}

footer h3{
}